body {
    background-color: #121212;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#section-title {
    color: white;
}

/* Nav */
nav {
    min-height: 8dvh;
    flex-direction: row;
    justify-content: space-around;
}

#spotify-logo-wrapper {
    width: 8dvh;
    height: hidden;
}

.Spotify-logos {
    max-width: 30px;
    max-height: 30px;
    filter: invert(100%);
}

.spotify-body-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Aside bar */

aside {
    background-color: #1b1a1a;
    border-radius: 10px;
}

.sidebar {
    width: 350px;
    padding: 20px;
    box-sizing: border-box;
    min-width: 20%;
    max-width: 20%;

}

.playlist {
    background-color: #242424;
}

/* album grid */
section {
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.album-images {
   min-height: 150px;
   min-width: 150px;
   max-width: 150px;
   max-height: 150px;
   padding: 10px;
   border-radius: 10%;
}

/* Text alignment */

.album-text1 {
    color: white;
    text-align: left;
    margin: 5px 0 0 13px;
    font-family: "Helvetica Neue", Helvetica, Arial ;
}

.album-text2 {
    color: #7c7c7c;
    text-align: left;
    margin: 5px 0 0 13px;
    font-family: "Helvetica Neue", Helvetica, Arial;
}

#div1 {
    background-color: #1b1a1a;
    border-radius: 10px;
    min-width: 78%;
    max-width: 78%;
}

/* footer */

footer {
    align-content:center;
    background-image: linear-gradient(to right, rgb(209, 45, 168), rgb(73, 144, 214));
}

.text-margin {
    margin: 1px;
    color: white;
}

.sign-up {
    border-color: white;
    background-color: white;
}
 

