body {
    background-color: #121212;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#section-title {
    color: white;
}

/* Nav */
nav {
    min-height: 8dvh;
    display: flex;
    flex-direction: row;
}

#spotify-logo {
    width: 8dvh;
    height: hidden;
}

.Spotify-logos {
    max-width: 30px;
    max-height: 30px;
    filter: invert(100%);
}

.spotify-body-layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#search-bar {
    background-color: #1b1a1a;

}

/* Aside bar */

aside {
    background-color: #1b1a1a;
    border: 10px solid #1b1a1a;
    border-radius: 10px;
    width: 20%;
}

.add-icon {
    filter: invert(100%);
    height: 25px;
    Width: 25px;
}

#library {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: white;
}

.playlist-podcasts-box {
    background-color: #242424;
    border:15px solid #242424;
    border-radius: 10px;
    margin: 20px;
    color: white;
}

.border-button {
    display: flex;
    text-align: center;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: white;
    width: 150px;
    height: 20px;
    color:black;
}

.bottom-links {
    color:#7c7c7c;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

/* album grid */
section {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    width: 78%;
}

.album-images {
   min-height: 150px;
   min-width: 150px;
   max-width: 150px;
   max-height: 150px;
   padding: 10px;
   border-radius: 10%;
}

/* Text alignment for albums */

.album-text1 {
    color: white;
    text-align: left;
    margin: 5px 0 0 13px;
}

.album-text2 {
    color: #7c7c7c;
    text-align: left;
    margin: 5px 0 0 13px;
}

#div1 {
    background-color: #1b1a1a;
    border-radius: 10px;
    min-width: 78%;
    max-width: 78%;
}

/* footer */

footer {
    align-content:center;
    background-image: linear-gradient(to right, rgb(209, 45, 168), rgb(73, 144, 214));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-margin {
    margin: 1px;
    color: white;
}

.sign-up {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.footer-alignment {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 

